/*
 * html template
 * this file is part of the Semantik templates
 * https://waf.io/semantik.html
 *
 * Permission is granted to redistribute copies and
 * derivated works of this file (def.css) without
 * any restrictions.
 */
html  {
	height: 100%;
}

body {
	min-height: 100%;
	font-family: "DejaVu Sans", sans-serif;
	font-size: 12px;
	margin: 0px;
	background-color: #e2eed7;
	padding: 0px;
}

.contenu {
	max-width: 1000px;
	min-height: 100vh;
	padding: 2px 15px 50px 15px;
	margin: 0px auto;
	background-color: white;
	border-style: solid;
	border-width : 0px 1px 0px 1px;
	border-left-color : #3e8d21;
	border-right-color : #3e8d21;
}

.show_niv {
	margin: 7px;
	color: #3e8d21;
}

h1 { font-size: 18px; margin-left: 0px; margin-top: 30px; }
h2 { font-size: 16px; margin-left: 20px; margin-top: 20px;}
h3 { font-size: 15px; margin-left: 54px;}
h4 { font-size: 14px; margin-left: 100px;}
p {
	font-size: 14px;
	margin-left: 62px;
	margin-right: 62px;
	text-align: justify;
}

.imgcenter {
	display: block;
	max-height: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.code {
	font-family: monospace;
	font-size: 14px;
	margin: 30px 62px;
	padding: 10px;
}

.sem_table {
	font-family: "DejaVu Sans", sans-serif;
	font-size: 1.2em;
	border-collapse: collapse;
	color: #212424;
	margin: 30px auto;
}

.sem_table td, .sem_table th {
	border: 1px solid black; /*#c5e894;*/
	padding: 3px 8px;
}

.sem_table tr:first-child th {
	background: #7e6336;  /* #524123 */
	color: #fff;
}

.sem_table tbody td {
	background: #DDF0BD;
	text-align: center;
}

.sem_table tbody th {
	background: #bdefae;
	text-align: left;
	padding: 3px 8px;
}

.sem_table tbody td:hover {
	background: #c5e894;
}

.sem_table caption {
	caption-side: bottom;
}

